mat-card {
  width: 330px;
  height: 320px;
  background-color: #fff;
  border-radius: 5px;
  border: none;

}

.hover-card:hover {
  border: 1px solid red;
  cursor: pointer;
}

img {
  height: auto;
  width: 100%;
  max-width: 200px;
  margin: 0 auto 0 auto;
  object-fit: cover;
}

.title {
  padding: 8px;
  text-align: center;
  font-size: 1.5em;
  font-weight: 700;
  text-transform: uppercase;
}

p {
  color: black;
  text-align: justify;
}
