<mat-toolbar>
  <div class="toolbar-container">
    <div class="row wrap">

      <div class="column col-3">
        <img src="assets/images/burguer-mania.png" alt="burguer-mania">
      </div>

      <div class="column col-6 actions">
        <button mat-button [routerLink]="['']">Início</button>
        <button mat-button [routerLink]="['menu/categories']">Categoria</button>
        <button mat-button [routerLink]="['menu/categories']">Cardápio</button>
      </div>

      <div class="column col-2">
        <button mat-button [routerLink]="['location']">Localização</button>
        <button mat-button [routerLink]="['contact']">Contato</button>
      </div>

    </div>
  </div>
</mat-toolbar>
