mat-card {
  padding: 30px;
  width: 100%;
  max-width: 600px;
  background-color: #fff;
  border-radius: 0;
}

.mat-mdc-icon-button {
  margin-bottom: 16px;
}

.action-bnt {
  margin: 0 auto 0 auto;
}
